# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sfdx/
.localdevserver/
package.json
package-lock.json

#ManagedPackage Class, Pages, and Triggers

classes/Loop__*
pages/Loop__*
triggers/Loop__*

classes/APXT_BPM__*
pages/APXT_BPM__*
triggers/APXT_BPM__*

classes/SFGA__*
pages/SFGA__*
triggers/SFGA__*

classes/sf_chttr_apps__*
pages/sf_chttr_apps__*
triggers/sf_chttr_apps__*

classes/Domo_Inc__*
pages/Domo_Inc__*
triggers/Domo_Inc__*

classes/ANH__*
pages/ANH__*
triggers/ANH__*

classes/analyticsengine__*
pages/analyticsengine__*
triggers/analyticsengine__*


# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# SOQL Query Results
**/scripts/soql/query-results

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/


/out/
/config/
/.vscode/

# scripts
/scripts/
package.xml
gitignore
manifest/daybackPackage.xml
manifest/daybackPackage1 copy.xml
manifest/daybackPackage1.xml
manifest/daybackPackage2.xml
manifest/deploymentCLI.txt
manifest/destructiveChangesPost.xml
manifest/uat10_159-162_package.xml
manifest/deploy_uat10_173.xml
Behavior_20220118/.eslintignore
Behavior_20220118/.forceignore
Behavior_20220118/.gitignore
Behavior_20220118/.prettierignore
Behavior_20220118/.prettierrc
Behavior_20220118/jest.config.js
Behavior_20220118/README.md
Behavior_20220118/sfdx-project.json
Behavior_20220118/.husky/pre-commit
Behavior_20220118/.vscode/extensions.json
Behavior_20220118/.vscode/launch.json
Behavior_20220118/.vscode/settings.json
Behavior_20220118/config/project-scratch-def.json
Behavior_20220118/force-app/main/default/aura/.eslintrc.json
Behavior_20220118/force-app/main/default/lwc/.eslintrc.json
Behavior_20220118/scripts/apex/hello.apex
Behavior_20220118/scripts/soql/account.soql
