.card-custom {
  --sds-c-card-sizing-border: 2px;
  --sds-c-card-color-border: #808080;
}

.row-height {
  height: 100px;
}

.custom-box {
  background-color: #f4f6f9;
  padding: 7px;
  border: 1px solid #d8dde6;
}