:host {
  --sds-c-textarea-sizing-min-height: 50px;
}

.card-custom {
  --sds-c-card-sizing-border: 4px;
  --sds-c-card-color-border: #808080;
}

.redIcon {
  --sds-c-icon-color-foreground-default: red;
}

.blueIcon {
  --sds-c-icon-color-foreground-default: blue;
}

.slds-modal__content {
  overflow: visible;
  overflow-y: visible;
}