@page { 
        size: letter landscape;
    @top-right {
      content: "Page " counter(page) " of " counter(pages);
          font-weight: lighter;
          font-size:8pt;
        }
}

thead{
    background-color: Silver;
}

tbody {
  page-break-inside: avoid;
}

tr.spaceUnder>td {
  	padding: 3px;
}

.line{
	border-bottom: .5px solid black;
}

table {
	-fs-table-paginate: paginate;
    padding: 5px;
    vertical-align:Top;
    font-size: small;
    width: 100%;
}

h1.large {
  font-size: 1.5em;
  background-color: #FFFFFF;
  padding: 5px;
  text-align:center;  
  font-weight: bold;
}

hr {
  margin: 5px;
}