.sectionTitle{
    font-weight: bold;
    margin-left: 1em;
    font-size:large;
}

.card-border {
    display: block;
}

.lgc-bg {
    background-color: rgb(242, 242, 242);
}
 
.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}
 
.label-hidden > label {
    display: none !important;
}
 
.icon_custom_class{
    margin-top: 5px;
}
 
.current_filter {
    color: rgb(8, 7, 7);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.25;
    display: block;
    cursor: pointer;
}
 
.current_filter:hover {
    text-decoration: underline;
}
 
.custom_list_view {
    max-width: max-content;
}
 
.button_class {
    margin-left: 10px;
    margin-right: 10px;
  }
 
.list_view_container {
    max-width: max-content;
}
 
.list_view_and_table_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}