/**
 * 
 * Class Description
 *
 * @author barne
 * @version 1.0.0
 */
.THIS h1.large {
  font-size: 1.5em;
  background-color: #FFFFFF;
  padding: 5px;
  text-align:center;  
  font-weight: bold;
}
.THIS .c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}
.THIS .grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  background-color: #FFFFFF;
  padding: 5px;
}
.THIS .grid-item {
  background-color: #FFFFFF;
  border: 0px white;
  padding: 5px;
  text-align: left;
}
.THIS tr.spaceUnder>td {
    padding: 5px;
}
.THIS .line{
	border-top: 2px solid #8c8b8b;
}
.THIS td.width {
    width: 20%;
}
 .THIS button.button3{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
 }
 .THIS.button.button3:hover{
    background-color:#4095c6;
 }
 @media all and (max-width:30em){
 .THIS.button.button3{
    display:block;
    margin:0.2em auto;
 }
 }