.idLink {
    --lwc-inputStaticColor: rgb(1, 118, 211);
}
.yellowIcon {
    --sds-c-icon-color-foreground-default: gold;
}
.purpleIcon {
    --sds-c-icon-color-foreground-default: purple;
}
.redIcon {
    --sds-c-icon-color-foreground-default: red;
}
.blueIcon {
    --sds-c-icon-color-foreground-default: blue;
}
.blackIcon {
    --sds-c-icon-color-foreground-default: black;
}